
/* Added this class for styling the sub heading  Today,Tomorrow ,Upcoming*/
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   }
/*ADDED THIS CLASS TO FLOAT THE PLUS ICON TO RIGHT */
   .icon-plus{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
   }


