
 /* Dark grey: #343a40*/
 /* blue :#007bff*/
 /* ADDED .modal-header to change the backgroud color modal title index.html */
.modal-header {
   background-color:#007bff ;
   color: white;
 }
/* Added this class for styling the sub heading  Today,Tomorrow ,Upcoming*/
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   }
/*ADDED THIS CLASS TO FLOAT THE PLUS ICON TO RIGHT */
   .addNewTaskButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
   }


